<h1>Create a New Comparison</h1>

<!-- <select id='tableSelect'></select>
<select id='team_seasonSelect'></select>
<select id='yearSelect'></select>
<button id='dropDownSubmit'>submit</button>
 -->
<!-- <br><br> -->

<div id='selectArea'>
<!--     option, value, label -->
</div>

<form method='POST' action='/comparisons'>

  <div id='selectArea'>
<!--     option, value, label -->
  </div>
  <br>

  <label for='name'>Compare:</label>
  <input name='comparison'>
  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
  <button id='addComp'>Compare</button>
</form>

<form method='POST' action='/session'>

  <input name='authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'>
  <input name='_method' value='DELETE' type='hidden'><br>
  <button id='logout'>Log Out</button>

</form>


<h1>All Saved Comparisons</h1>

<div id='compList'>
</div>

<h1>Comparison Visuals</h1>

<div id='visuals'>
</div>


