<!Doctype html>
<head>
  <h4>DREAMTEAM</h4>
  <!-- Google Material Design Lite -->
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-red.min.css" /> 
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
</head>
</script>

<body>
  <h5>Create a New Comparison</h5>

  <div id='selectArea'>
  </div>

  <h5>Visualizations</h5>

  <div id='visArea'>
  </div>

  <div id='graphArea'>
  </div> 

  <!-- <form method='POST' action='/comparisons'>

    <label for='name'>Compare:</label>
    <input name='comparison'>
    <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
    <button id='addComp'>Compare</button>
  </form> -->

  <form method='POST' action='/session'>

    <input name='authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'>
    <input name='_method' value='DELETE' type='hidden'><br>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id='logout'>Log Out</button>

  </form> 

</body> 


