<h1>create a new comp</h1>

<%= form_for :comparison, url: comparisons_path do |f| %>

  <p>
    <%= f.label :search %><br>
    <%= f.text_field :search %>
  </p>

  <button><%=f.submit %></button>

<%end%>

