<head>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-red.min.css" /> 
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">DREAMTEAM</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>      
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
    <br>
    <br>
        <div id='user-box' align='center'>

        <% if @sign_in_errors %>
          <span class="error"><%=@sign_in_errors%></span>
        <%end%>

        <form action='/session' method='POST'>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            
            <input class="mdl-textfield__input" name="user_name" type="text"/>

            <label class="mdl-textfield__label" for="user_name">Username:</label>

          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <input class="mdl-textfield__input" name="password" type="password"/>

            <label class="mdl-textfield__label" for="password">Password:</label>

            <input name="authenticity_token" value="<%=form_authenticity_token()%>" type="hidden"/>
          
          </div>

          <button class="mdl-button mdl-js-button mdl-button--primary" id="signIn">Sign In</button>

        </form>

      <h6> New? Create An Account!</h6>

        <form action='/users' method='POST'>

           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            
            <input class="mdl-textfield__input" name="user_name" type="text"/>

            <label class="mdl-textfield__label" for="user_name">Username:</label>

          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <input class="mdl-textfield__input" name="password" type="password"/>

            <label class="mdl-textfield__label" for="password">Password:</label>

            <input name="authenticity_token" value="<%=form_authenticity_token()%>" type="hidden"/>
          
          </div>

          <button class="mdl-button mdl-js-button mdl-button--primary" id = "signUp">Create</button>

        </form>
        <!-- Simple Tooltip -->

        <div id="tt1" class="icon material-icons">info</div>
        <div class="mdl-tooltip" for="tt1">
        This site supports username and password authentication by the server - try it! - but you can sign in with username = 'user' and password = 'puppies' if you'd like :)
        </div>

      </div>
    </div>
  </main>
</div>
